# ESTATÍSTICA DESCRITIVA

## 1) Medidas de Tendência Central

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/BigMacPrice.csv')
df.head()

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

In [3]:
df_filtered = df[df['date'] == '2022-07-01']
df_filtered.head()

,date,currency_code,name,local_price,dollar_ex,dollar_price
1876,2022-07-01,ARS,Argentina,590.00,129,4.57
1877,2022-07-01,AUD,Australia,6.70,1,6.70
1878,2022-07-01,EUR,Austria,4.35,1,4.35
1879,2022-07-01,AZN,Azerbaijan,4.70,1,4.70
1880,2022-07-01,BHD,Bahrain,1.60,1,1.60

In [4]:
df_filtered.count()

date             70
currency_code    70
name             70
local_price      70
dollar_ex        70
dollar_price     70
dtype: int64

In [5]:
df_filtered.groupby('name').count()['date']

name
Argentina               1
Australia               1
Austria                 1
Azerbaijan              1
Bahrain                 1
                       ..
United Arab Emirates    1
United States           1
Uruguay                 1
Venezuela               1
Vietnam                 1
Name: date, Length: 70, dtype: int64

In [6]:
df_filtered.to_csv('Datasets/BigMacPriceJuly2022.csv', index=False)

### Moda

Vamos calcular a moda do preço de Big Mac em Dólares

In [7]:
df['dollar_price'].mode()

0    3.0
Name: dollar_price, dtype: float64

### Média

In [8]:
df['dollar_price'].mean()

3.568011305241521

### Mediana

In [9]:
df['dollar_price'].median()

3.4